/* 导入字体图标 */
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #607ae2;
  --color-dark: #4d62b5;
  --color-light: #7392ff;
  --color-vc-bg: #00000049;
  --color-pb-bg: #555555;
  --color-pbm-bg: #607ae2;
  --color-pbl-bg: #dadada;
  --color-btn: #607ae2;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  width: fit-content;
  height: fit-content;
  background-color: var(--color-bg);
}

.video-box {
  display: none;
  width: 40rem;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--color-bg);
  box-shadow: 1rem 1rem 2rem var(--color-dark),
    -1rem -1rem 2rem var(--color-light);
  font-size: 10px;
  box-sizing: border-box;
  user-select: none;
}

.video-content {
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Material Icons', serif;
  background-color: #000000;
  overflow: hidden;
}

.pause-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6rem;
  font-weight: 900;
  color: var(--color-bg);
  transform: translate(-50%, -50%);
}

.video-main {
  width: 100%;
}

.video-control {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3.6rem;
  cursor: default;
  opacity: 0;
  opacity: 1;
  transform: opacity 0.5s;
}

.video-content:hover .video-control {
  opacity: 1;
}

.progress-bar-box {
  flex: none;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 0.6rem;
  background-color: var(--color-pb-bg);
}

.progress-bar-main {
  display: block;
  position: absolute;
  height: 100%;
  background-color: var(--color-pbm-bg);
  z-index: 1;
}

.progress-bar-load {
  display: block;
  position: absolute;
  height: 100%;
  background-color: var(--color-pbl-bg);
  z-index: 0;
}

.control-btn-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: var(--color-vc-bg);
  padding: 0 1rem;
}

.control-btn-box>span {
  width: fit-content;
  color: var(--color-btn);
  font-size: 2.2rem;
  font-weight: 600;
}

